@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1652498132824') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuye2:before {
  content: "\e603";
}

.icon-zhuye:before {
  content: "\e655";
}

.icon-zhuye1:before {
  content: "\e65d";
}

.icon-zhuye3:before {
  content: "\e610";
}

.icon-zhuye4:before {
  content: "\e642";
}

.icon-zhuye5:before {
  content: "\e8a1";
}

